certifi==2017.11.5
chardet==3.0.4
click==6.7
Flask==0.12.3
Flask-Session==0.3.1
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
requests==2.18.4
six==1.11.0
-e git://github.com/plamere/spotipy.git@4c2c1d763a3653aa225c4af848409ec31286a6bf#egg=spotipy
urllib3==1.22
Werkzeug==0.12.2
